<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renchaigao.zujuba.dao.mapper.StoreInfoMapper" >
  <resultMap id="BaseResultMap" type="com.renchaigao.zujuba.domain.StoreInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="maxpeoplenum" property="maxpeoplenum" jdbcType="INTEGER" />
    <result column="maxdesknum" property="maxdesknum" jdbcType="INTEGER" />
    <result column="workingtimeid" property="workingtimeid" jdbcType="INTEGER" />
    <result column="starnum" property="starnum" jdbcType="INTEGER" />
    <result column="assessid" property="assessid" jdbcType="INTEGER" />
    <result column="otherid" property="otherid" jdbcType="INTEGER" />
    <result column="hardware" property="hardware" jdbcType="INTEGER" />
    <result column="ownerid" property="ownerid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="picturesurl" property="picturesurl" jdbcType="VARCHAR" />
    <result column="storeclass" property="storeclass" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="phonenum" property="phonenum" jdbcType="VARCHAR" />
    <result column="telephonenum" property="telephonenum" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="placeinfo" property="placeinfo" jdbcType="VARCHAR" />
    <result column="tipsinfo" property="tipsinfo" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="citycode" property="citycode" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="formataddress" property="formataddress" jdbcType="VARCHAR" />
    <result column="neighborhood" property="neighborhood" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="towncode" property="towncode" jdbcType="VARCHAR" />
    <result column="township" property="township" jdbcType="VARCHAR" />
    <result column="storeinfo" property="storeinfo" jdbcType="VARCHAR" />
    <result column="storeid" property="storeid" jdbcType="INTEGER" />
    <result column="spend" property="spend" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="rank" property="rank" jdbcType="VARCHAR" />
    <result column="deskinfo" property="deskinfo" jdbcType="VARCHAR" />
    <result column="peopleinfo" property="peopleinfo" jdbcType="VARCHAR" />
    <result column="evaluates" property="evaluates" jdbcType="VARCHAR" />
    <result column="distance" property="distance" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, latitude, longitude, maxpeoplenum, maxdesknum, workingtimeid, starnum, assessid, 
    otherid, hardware, ownerid, name, address, picturesurl, storeclass, status, phonenum, 
    telephonenum, contact, placeinfo, tipsinfo, city, citycode, country, district, formataddress, 
    neighborhood, province, towncode, township, storeinfo, storeid, spend, score, rank, 
    deskinfo, peopleinfo, evaluates, distance
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from storeinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from storeinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.renchaigao.zujuba.domain.StoreInfo" >
    insert into storeinfo (id, latitude, longitude, 
      maxpeoplenum, maxdesknum, workingtimeid, 
      starnum, assessid, otherid, 
      hardware, ownerid, name, 
      address, picturesurl, storeclass, 
      status, phonenum, telephonenum, 
      contact, placeinfo, tipsinfo, 
      city, citycode, country, 
      district, formataddress, neighborhood, 
      province, towncode, township, 
      storeinfo, storeid, spend, 
      score, rank, deskinfo, 
      peopleinfo, evaluates, distance
      )
    values (#{id,jdbcType=INTEGER}, #{latitude,jdbcType=DOUBLE}, #{longitude,jdbcType=DOUBLE}, 
      #{maxpeoplenum,jdbcType=INTEGER}, #{maxdesknum,jdbcType=INTEGER}, #{workingtimeid,jdbcType=INTEGER}, 
      #{starnum,jdbcType=INTEGER}, #{assessid,jdbcType=INTEGER}, #{otherid,jdbcType=INTEGER}, 
      #{hardware,jdbcType=INTEGER}, #{ownerid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{picturesurl,jdbcType=VARCHAR}, #{storeclass,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{phonenum,jdbcType=VARCHAR}, #{telephonenum,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{placeinfo,jdbcType=VARCHAR}, #{tipsinfo,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{citycode,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{district,jdbcType=VARCHAR}, #{formataddress,jdbcType=VARCHAR}, #{neighborhood,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{towncode,jdbcType=VARCHAR}, #{township,jdbcType=VARCHAR}, 
      #{storeinfo,jdbcType=VARCHAR}, #{storeid,jdbcType=INTEGER}, #{spend,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{rank,jdbcType=VARCHAR}, #{deskinfo,jdbcType=VARCHAR}, 
      #{peopleinfo,jdbcType=VARCHAR}, #{evaluates,jdbcType=VARCHAR}, #{distance,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.renchaigao.zujuba.domain.StoreInfo" >
    insert into storeinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="maxpeoplenum != null" >
        maxpeoplenum,
      </if>
      <if test="maxdesknum != null" >
        maxdesknum,
      </if>
      <if test="workingtimeid != null" >
        workingtimeid,
      </if>
      <if test="starnum != null" >
        starnum,
      </if>
      <if test="assessid != null" >
        assessid,
      </if>
      <if test="otherid != null" >
        otherid,
      </if>
      <if test="hardware != null" >
        hardware,
      </if>
      <if test="ownerid != null" >
        ownerid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="picturesurl != null" >
        picturesurl,
      </if>
      <if test="storeclass != null" >
        storeclass,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="phonenum != null" >
        phonenum,
      </if>
      <if test="telephonenum != null" >
        telephonenum,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="placeinfo != null" >
        placeinfo,
      </if>
      <if test="tipsinfo != null" >
        tipsinfo,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="citycode != null" >
        citycode,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="formataddress != null" >
        formataddress,
      </if>
      <if test="neighborhood != null" >
        neighborhood,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="towncode != null" >
        towncode,
      </if>
      <if test="township != null" >
        township,
      </if>
      <if test="storeinfo != null" >
        storeinfo,
      </if>
      <if test="storeid != null" >
        storeid,
      </if>
      <if test="spend != null" >
        spend,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="deskinfo != null" >
        deskinfo,
      </if>
      <if test="peopleinfo != null" >
        peopleinfo,
      </if>
      <if test="evaluates != null" >
        evaluates,
      </if>
      <if test="distance != null" >
        distance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="maxpeoplenum != null" >
        #{maxpeoplenum,jdbcType=INTEGER},
      </if>
      <if test="maxdesknum != null" >
        #{maxdesknum,jdbcType=INTEGER},
      </if>
      <if test="workingtimeid != null" >
        #{workingtimeid,jdbcType=INTEGER},
      </if>
      <if test="starnum != null" >
        #{starnum,jdbcType=INTEGER},
      </if>
      <if test="assessid != null" >
        #{assessid,jdbcType=INTEGER},
      </if>
      <if test="otherid != null" >
        #{otherid,jdbcType=INTEGER},
      </if>
      <if test="hardware != null" >
        #{hardware,jdbcType=INTEGER},
      </if>
      <if test="ownerid != null" >
        #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="picturesurl != null" >
        #{picturesurl,jdbcType=VARCHAR},
      </if>
      <if test="storeclass != null" >
        #{storeclass,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="telephonenum != null" >
        #{telephonenum,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="placeinfo != null" >
        #{placeinfo,jdbcType=VARCHAR},
      </if>
      <if test="tipsinfo != null" >
        #{tipsinfo,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null" >
        #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="formataddress != null" >
        #{formataddress,jdbcType=VARCHAR},
      </if>
      <if test="neighborhood != null" >
        #{neighborhood,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="towncode != null" >
        #{towncode,jdbcType=VARCHAR},
      </if>
      <if test="township != null" >
        #{township,jdbcType=VARCHAR},
      </if>
      <if test="storeinfo != null" >
        #{storeinfo,jdbcType=VARCHAR},
      </if>
      <if test="storeid != null" >
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="spend != null" >
        #{spend,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="deskinfo != null" >
        #{deskinfo,jdbcType=VARCHAR},
      </if>
      <if test="peopleinfo != null" >
        #{peopleinfo,jdbcType=VARCHAR},
      </if>
      <if test="evaluates != null" >
        #{evaluates,jdbcType=VARCHAR},
      </if>
      <if test="distance != null" >
        #{distance,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renchaigao.zujuba.domain.StoreInfo" >
    update storeinfo
    <set >
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="maxpeoplenum != null" >
        maxpeoplenum = #{maxpeoplenum,jdbcType=INTEGER},
      </if>
      <if test="maxdesknum != null" >
        maxdesknum = #{maxdesknum,jdbcType=INTEGER},
      </if>
      <if test="workingtimeid != null" >
        workingtimeid = #{workingtimeid,jdbcType=INTEGER},
      </if>
      <if test="starnum != null" >
        starnum = #{starnum,jdbcType=INTEGER},
      </if>
      <if test="assessid != null" >
        assessid = #{assessid,jdbcType=INTEGER},
      </if>
      <if test="otherid != null" >
        otherid = #{otherid,jdbcType=INTEGER},
      </if>
      <if test="hardware != null" >
        hardware = #{hardware,jdbcType=INTEGER},
      </if>
      <if test="ownerid != null" >
        ownerid = #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="picturesurl != null" >
        picturesurl = #{picturesurl,jdbcType=VARCHAR},
      </if>
      <if test="storeclass != null" >
        storeclass = #{storeclass,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        phonenum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="telephonenum != null" >
        telephonenum = #{telephonenum,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="placeinfo != null" >
        placeinfo = #{placeinfo,jdbcType=VARCHAR},
      </if>
      <if test="tipsinfo != null" >
        tipsinfo = #{tipsinfo,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null" >
        citycode = #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="formataddress != null" >
        formataddress = #{formataddress,jdbcType=VARCHAR},
      </if>
      <if test="neighborhood != null" >
        neighborhood = #{neighborhood,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="towncode != null" >
        towncode = #{towncode,jdbcType=VARCHAR},
      </if>
      <if test="township != null" >
        township = #{township,jdbcType=VARCHAR},
      </if>
      <if test="storeinfo != null" >
        storeinfo = #{storeinfo,jdbcType=VARCHAR},
      </if>
      <if test="storeid != null" >
        storeid = #{storeid,jdbcType=INTEGER},
      </if>
      <if test="spend != null" >
        spend = #{spend,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="deskinfo != null" >
        deskinfo = #{deskinfo,jdbcType=VARCHAR},
      </if>
      <if test="peopleinfo != null" >
        peopleinfo = #{peopleinfo,jdbcType=VARCHAR},
      </if>
      <if test="evaluates != null" >
        evaluates = #{evaluates,jdbcType=VARCHAR},
      </if>
      <if test="distance != null" >
        distance = #{distance,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renchaigao.zujuba.domain.StoreInfo" >
    update storeinfo
    set latitude = #{latitude,jdbcType=DOUBLE},
      longitude = #{longitude,jdbcType=DOUBLE},
      maxpeoplenum = #{maxpeoplenum,jdbcType=INTEGER},
      maxdesknum = #{maxdesknum,jdbcType=INTEGER},
      workingtimeid = #{workingtimeid,jdbcType=INTEGER},
      starnum = #{starnum,jdbcType=INTEGER},
      assessid = #{assessid,jdbcType=INTEGER},
      otherid = #{otherid,jdbcType=INTEGER},
      hardware = #{hardware,jdbcType=INTEGER},
      ownerid = #{ownerid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      picturesurl = #{picturesurl,jdbcType=VARCHAR},
      storeclass = #{storeclass,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      phonenum = #{phonenum,jdbcType=VARCHAR},
      telephonenum = #{telephonenum,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      placeinfo = #{placeinfo,jdbcType=VARCHAR},
      tipsinfo = #{tipsinfo,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      citycode = #{citycode,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      formataddress = #{formataddress,jdbcType=VARCHAR},
      neighborhood = #{neighborhood,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      towncode = #{towncode,jdbcType=VARCHAR},
      township = #{township,jdbcType=VARCHAR},
      storeinfo = #{storeinfo,jdbcType=VARCHAR},
      storeid = #{storeid,jdbcType=INTEGER},
      spend = #{spend,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      rank = #{rank,jdbcType=VARCHAR},
      deskinfo = #{deskinfo,jdbcType=VARCHAR},
      peopleinfo = #{peopleinfo,jdbcType=VARCHAR},
      evaluates = #{evaluates,jdbcType=VARCHAR},
      distance = #{distance,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>