<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renchaigao.zujuba.dao.mapper.TeamMapper" >
  <resultMap id="BaseResultMap" type="com.renchaigao.zujuba.dao.Team" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="playerMax" property="playerMax" jdbcType="INTEGER" />
    <result column="playerMin" property="playerMin" jdbcType="INTEGER" />
    <result column="playerNow" property="playerNow" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="VARCHAR" />
    <result column="startDate" property="startDate" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="VARCHAR" />
    <result column="endTime" property="endTime" jdbcType="VARCHAR" />
    <result column="createrStyle" property="createrStyle" jdbcType="VARCHAR" />
    <result column="createrNote" property="createrNote" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="teamName" property="teamName" jdbcType="VARCHAR" />
    <result column="createrId" property="createrId" jdbcType="VARCHAR" />
    <result column="deleteStyle" property="deleteStyle" jdbcType="BIT" />
    <result column="upTime" property="upTime" jdbcType="VARCHAR" />
    <result column="playersInfoId" property="playersInfoId" jdbcType="VARCHAR" />
    <result column="gameId" property="gameId" jdbcType="VARCHAR" />
    <result column="addressId" property="addressId" jdbcType="VARCHAR" />
    <result column="spendId" property="spendId" jdbcType="VARCHAR" />
    <result column="messageId" property="messageId" jdbcType="VARCHAR" />
    <result column="filterId" property="filterId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, playerMax, playerMin, playerNow, createTime, startDate, startTime, endTime, createrStyle, 
    createrNote, state, teamName, createrId, deleteStyle, upTime, playersInfoId, gameId, 
    addressId, spendId, messageId, filterId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from team
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from team
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.renchaigao.zujuba.dao.Team" >
    insert into team (Id, playerMax, playerMin, 
      playerNow, createTime, startDate, 
      startTime, endTime, createrStyle, 
      createrNote, state, teamName, 
      createrId, deleteStyle, upTime, 
      playersInfoId, gameId, addressId, 
      spendId, messageId, filterId
      )
    values (#{id,jdbcType=VARCHAR}, #{playerMax,jdbcType=INTEGER}, #{playerMin,jdbcType=INTEGER}, 
      #{playerNow,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{createrStyle,jdbcType=VARCHAR}, 
      #{createrNote,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{teamName,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=VARCHAR}, #{deleteStyle,jdbcType=BIT}, #{upTime,jdbcType=VARCHAR}, 
      #{playersInfoId,jdbcType=VARCHAR}, #{gameId,jdbcType=VARCHAR}, #{addressId,jdbcType=VARCHAR}, 
      #{spendId,jdbcType=VARCHAR}, #{messageId,jdbcType=VARCHAR}, #{filterId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.renchaigao.zujuba.dao.Team" >
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="playerMax != null" >
        playerMax,
      </if>
      <if test="playerMin != null" >
        playerMin,
      </if>
      <if test="playerNow != null" >
        playerNow,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="startDate != null" >
        startDate,
      </if>
      <if test="startTime != null" >
        startTime,
      </if>
      <if test="endTime != null" >
        endTime,
      </if>
      <if test="createrStyle != null" >
        createrStyle,
      </if>
      <if test="createrNote != null" >
        createrNote,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="teamName != null" >
        teamName,
      </if>
      <if test="createrId != null" >
        createrId,
      </if>
      <if test="deleteStyle != null" >
        deleteStyle,
      </if>
      <if test="upTime != null" >
        upTime,
      </if>
      <if test="playersInfoId != null" >
        playersInfoId,
      </if>
      <if test="gameId != null" >
        gameId,
      </if>
      <if test="addressId != null" >
        addressId,
      </if>
      <if test="spendId != null" >
        spendId,
      </if>
      <if test="messageId != null" >
        messageId,
      </if>
      <if test="filterId != null" >
        filterId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="playerMax != null" >
        #{playerMax,jdbcType=INTEGER},
      </if>
      <if test="playerMin != null" >
        #{playerMin,jdbcType=INTEGER},
      </if>
      <if test="playerNow != null" >
        #{playerNow,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="createrStyle != null" >
        #{createrStyle,jdbcType=VARCHAR},
      </if>
      <if test="createrNote != null" >
        #{createrNote,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="teamName != null" >
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="deleteStyle != null" >
        #{deleteStyle,jdbcType=BIT},
      </if>
      <if test="upTime != null" >
        #{upTime,jdbcType=VARCHAR},
      </if>
      <if test="playersInfoId != null" >
        #{playersInfoId,jdbcType=VARCHAR},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="spendId != null" >
        #{spendId,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="filterId != null" >
        #{filterId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renchaigao.zujuba.dao.Team" >
    update team
    <set >
      <if test="playerMax != null" >
        playerMax = #{playerMax,jdbcType=INTEGER},
      </if>
      <if test="playerMin != null" >
        playerMin = #{playerMin,jdbcType=INTEGER},
      </if>
      <if test="playerNow != null" >
        playerNow = #{playerNow,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        startDate = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        startTime = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        endTime = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="createrStyle != null" >
        createrStyle = #{createrStyle,jdbcType=VARCHAR},
      </if>
      <if test="createrNote != null" >
        createrNote = #{createrNote,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="teamName != null" >
        teamName = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        createrId = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="deleteStyle != null" >
        deleteStyle = #{deleteStyle,jdbcType=BIT},
      </if>
      <if test="upTime != null" >
        upTime = #{upTime,jdbcType=VARCHAR},
      </if>
      <if test="playersInfoId != null" >
        playersInfoId = #{playersInfoId,jdbcType=VARCHAR},
      </if>
      <if test="gameId != null" >
        gameId = #{gameId,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        addressId = #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="spendId != null" >
        spendId = #{spendId,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null" >
        messageId = #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="filterId != null" >
        filterId = #{filterId,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renchaigao.zujuba.dao.Team" >
    update team
    set playerMax = #{playerMax,jdbcType=INTEGER},
      playerMin = #{playerMin,jdbcType=INTEGER},
      playerNow = #{playerNow,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=VARCHAR},
      startDate = #{startDate,jdbcType=VARCHAR},
      startTime = #{startTime,jdbcType=VARCHAR},
      endTime = #{endTime,jdbcType=VARCHAR},
      createrStyle = #{createrStyle,jdbcType=VARCHAR},
      createrNote = #{createrNote,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      teamName = #{teamName,jdbcType=VARCHAR},
      createrId = #{createrId,jdbcType=VARCHAR},
      deleteStyle = #{deleteStyle,jdbcType=BIT},
      upTime = #{upTime,jdbcType=VARCHAR},
      playersInfoId = #{playersInfoId,jdbcType=VARCHAR},
      gameId = #{gameId,jdbcType=VARCHAR},
      addressId = #{addressId,jdbcType=VARCHAR},
      spendId = #{spendId,jdbcType=VARCHAR},
      messageId = #{messageId,jdbcType=VARCHAR},
      filterId = #{filterId,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>