<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renchaigao.zujuba.dao.mapper.TeamMapper" >
  <resultMap id="BaseResultMap" type="com.renchaigao.zujuba.dao.Team" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="playerinfoId" property="playerinfoId" jdbcType="VARCHAR" />
    <result column="gameId" property="gameId" jdbcType="VARCHAR" />
    <result column="addressId" property="addressId" jdbcType="VARCHAR" />
    <result column="spendId" property="spendId" jdbcType="VARCHAR" />
    <result column="messageId" property="messageId" jdbcType="VARCHAR" />
    <result column="filterId" property="filterId" jdbcType="VARCHAR" />
    <result column="playerMax" property="playerMax" jdbcType="VARCHAR" />
    <result column="playerMin" property="playerMin" jdbcType="VARCHAR" />
    <result column="playerNow" property="playerNow" jdbcType="VARCHAR" />
    <result column="createrId" property="createrId" jdbcType="INTEGER" />
    <result column="ownerId" property="ownerId" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="VARCHAR" />
    <result column="startDate" property="startDate" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="VARCHAR" />
    <result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
    <result column="createrStyle" property="createrStyle" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="teamstate" property="teamstate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, playerinfoId, gameId, addressId, spendId, messageId, filterId, playerMax, playerMin, 
    playerNow, createrId, ownerId, createTime, startDate, startTime, endTime, createrStyle, 
    note, teamstate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from team
    where Id = #{id,jdbcType=INTEGER}
  </select>


  <select id="selectAllTeam" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from team
  </select>
  <select id="selectByCreaterId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from team
    where createrId = #{createrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from team
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.renchaigao.zujuba.dao.Team" useGeneratedKeys="true" keyProperty="id">
    insert into team (Id, playerinfoId, gameId, 
      addressId, spendId, messageId, 
      filterId, playerMax, playerMin, 
      playerNow, createrId, ownerId, 
      createTime, startDate, startTime, 
      endTime, createrStyle, note, 
      teamstate)
    values (#{id,jdbcType=INTEGER}, #{playerinfoId,jdbcType=VARCHAR}, #{gameId,jdbcType=VARCHAR}, 
      #{addressId,jdbcType=VARCHAR}, #{spendId,jdbcType=VARCHAR}, #{messageId,jdbcType=VARCHAR}, 
      #{filterId,jdbcType=VARCHAR}, #{playerMax,jdbcType=VARCHAR}, #{playerMin,jdbcType=VARCHAR}, 
      #{playerNow,jdbcType=VARCHAR}, #{createrId,jdbcType=INTEGER}, #{ownerId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=TIMESTAMP}, #{createrStyle,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{teamstate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.renchaigao.zujuba.dao.Team" useGeneratedKeys="true" keyProperty="id">
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="playerinfoId != null" >
        playerinfoId,
      </if>
      <if test="gameId != null" >
        gameId,
      </if>
      <if test="addressId != null" >
        addressId,
      </if>
      <if test="spendId != null" >
        spendId,
      </if>
      <if test="messageId != null" >
        messageId,
      </if>
      <if test="filterId != null" >
        filterId,
      </if>
      <if test="playerMax != null" >
        playerMax,
      </if>
      <if test="playerMin != null" >
        playerMin,
      </if>
      <if test="playerNow != null" >
        playerNow,
      </if>
      <if test="createrId != null" >
        createrId,
      </if>
      <if test="ownerId != null" >
        ownerId,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="startDate != null" >
        startDate,
      </if>
      <if test="startTime != null" >
        startTime,
      </if>
      <if test="endTime != null" >
        endTime,
      </if>
      <if test="createrStyle != null" >
        createrStyle,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="teamstate != null" >
        teamstate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="playerinfoId != null" >
        #{playerinfoId,jdbcType=VARCHAR},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="spendId != null" >
        #{spendId,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="filterId != null" >
        #{filterId,jdbcType=VARCHAR},
      </if>
      <if test="playerMax != null" >
        #{playerMax,jdbcType=VARCHAR},
      </if>
      <if test="playerMin != null" >
        #{playerMin,jdbcType=VARCHAR},
      </if>
      <if test="playerNow != null" >
        #{playerNow,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createrStyle != null" >
        #{createrStyle,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="teamstate != null" >
        #{teamstate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renchaigao.zujuba.dao.Team" >
    update team
    <set >
      <if test="playerinfoId != null" >
        playerinfoId = #{playerinfoId,jdbcType=VARCHAR},
      </if>
      <if test="gameId != null" >
        gameId = #{gameId,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        addressId = #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="spendId != null" >
        spendId = #{spendId,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null" >
        messageId = #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="filterId != null" >
        filterId = #{filterId,jdbcType=VARCHAR},
      </if>
      <if test="playerMax != null" >
        playerMax = #{playerMax,jdbcType=VARCHAR},
      </if>
      <if test="playerMin != null" >
        playerMin = #{playerMin,jdbcType=VARCHAR},
      </if>
      <if test="playerNow != null" >
        playerNow = #{playerNow,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        createrId = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null" >
        ownerId = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        startDate = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        startTime = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        endTime = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createrStyle != null" >
        createrStyle = #{createrStyle,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="teamstate != null" >
        teamstate = #{teamstate,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renchaigao.zujuba.dao.Team" >
    update team
    set playerinfoId = #{playerinfoId,jdbcType=VARCHAR},
      gameId = #{gameId,jdbcType=VARCHAR},
      addressId = #{addressId,jdbcType=VARCHAR},
      spendId = #{spendId,jdbcType=VARCHAR},
      messageId = #{messageId,jdbcType=VARCHAR},
      filterId = #{filterId,jdbcType=VARCHAR},
      playerMax = #{playerMax,jdbcType=VARCHAR},
      playerMin = #{playerMin,jdbcType=VARCHAR},
      playerNow = #{playerNow,jdbcType=VARCHAR},
      createrId = #{createrId,jdbcType=INTEGER},
      ownerId = #{ownerId,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=VARCHAR},
      startDate = #{startDate,jdbcType=VARCHAR},
      startTime = #{startTime,jdbcType=VARCHAR},
      endTime = #{endTime,jdbcType=TIMESTAMP},
      createrStyle = #{createrStyle,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      teamstate = #{teamstate,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>